.contenedor-glasmmy{
  text-align: center;
  margin-top: 20px;
}

.firma-glasmmy{
  text-decoration: none;
  color: #777;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.logo-glasmmy{
  width: 35px;
  margin-bottom: 6px;
}

.texto-glasmmy{
  font-family: "Cormorant", serif;
  font-style: italic;
  font-size: 17px;
  margin: 0;
}

.marca-glasmmy{
  font-family: "Cormorant", serif;
  font-size: 17px;
  letter-spacing: 1px;
  margin: 0;
}
.marca-glasmmy:hover{
  color: #ab56c7;
}