.img-1 {
  display: none;
}

@media screen and (max-width: 500px) {
  .img-1 {
    display: block;
    margin-left: 0%;
    position: absolute;
    width: 40%;
    margin-top: -135%;
  }
}
/* Oculta la imagen por defecto */
.img-2 {
  display: none;
}

/* Muestra la imagen solo en teléfonos (máximo 768px de ancho, ajusta según lo necesario) */
@media screen and (max-width: 500px) {
  .img-2{
        display: block;
        margin-left: 75%;
        position: absolute;
        width: 25%;
        margin-top: -765%;
  }
}

@media screen and (max-width: 390px) {
  .img-2{
        display: block;
        margin-left: 70%;
        position: absolute;
        width: 30%;
        margin-top: -680%;
  }
}
