.contenedor-guar-fech{
  position: relative;
  text-align: center;
  padding: 10px 0px;
}

.colum-guar-fech{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 525px;
  margin: 0px auto;
}

.agregar-btn{
  align-items: center;
  background-color: #c6c6c652;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Cormorant", serif;
}
