<div class="contenedor-carrusel">
  <div class="colum-carrusel">
    <section class="Seccion-galeria" >
      <p data-aos="zoom-in" id="textSugVestimenta" class="subtitulos">
        Sugerencia de Hospedaje
      </p>
      <div class="galeriaFotosBoda">
        <div class="galeriaFotosBoda-carousel">
          <div class="galeriaFotosBoda-slide active">
            <div class="slide-content">
              <h2 class="titulos">Hotel Plaza Centenario</h2>
              <img src="assets/imgSH01.png" alt="Foto 1">
              <p class="ttext1">González Gallo 77, Centro, 47930 Ayotlán, Jal., México</p>
              <p class="ttext1">Tel. <a href="tel:+(52)3456880203">+(52) 345 688 0203</a></p>
              <a href="https://maps.app.goo.gl/ivV5Q4MZAsVkS76c9"
              class="agregar-btn">{{traductorService.getTexto("verHotel")}}</a>
            </div>
          </div>
          <div class="galeriaFotosBoda-slide">
            <div class="slide-content">
              <h2 class="titulos">Hotel Posada Las Rosas</h2>
              <img src="assets/imgSH02.png" alt="Foto 2">
              <p class="ttext1">González Gallo 199, 47930 Ayotlán, Jal., México</p>
              <p class="ttext1">Tel. <a href="tel:+(52)3459183340">+(52) 345 918 3340</a></p>
              <a href="https://maps.app.goo.gl/BWyjzMo7hCvizcdQ9"
              class="agregar-btn">{{traductorService.getTexto("verHotel")}}</a>
            </div>
          </div>
          <div class="galeriaFotosBoda-slide active">
            <div class="slide-content">
              <h2 class="titulos">Hotel San Agustín</h2>
              <img src="assets/imgSH03.png" alt="Foto 4">
              <p class="ttext1">Ruiz Velasco, Fco. Javier Mina 5, Centro, 47930 Ayotlán, Jal., México</p>
              <p class="ttext1">Tel. <a href="tel:+(52)3459180035">+(52) 345 918 0035</a></p>
              <a href="https://maps.app.goo.gl/Q6JJy5chK2p6yJ5LA"
              class="agregar-btn">{{traductorService.getTexto("verHotel")}}</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<br><br><br>
