.contenedor-confir-asistencia{
  position: relative;
  text-align: center;
}

.colum-confir-asistencia{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 525px;
  margin: 0px auto;
}

.contenedor-texto{
  margin-top: 5%;
  margin-bottom: 5%;
}

.textosec{
  font-family: "Cormorant", serif;
  font-style: italic;
  font-size: 20px;
  margin: 0%;
}

.img-icon{
  width: 20%;
}

.confir-asisten-button{
  background-color: #d5a0a5;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Cormorant", serif;
  font-style: italic;
}

.titulo-confir-aistencia{
  font-family: elegant;
  font-size: 50px;
  color: #d5a0a5;
  margin-top: 0% !important;
  margin-bottom: 0% !important;
}
