<div class="contenedor-dress-code" >
  <div class="colum-dress-code">
     <img src="assets/flores (1).png" class="img-1">
    <img src="assets/tacon-alto.png" class="img-icon">
    <p class="titulo-dress" data-aos="zoom-in" [innerHTML]="traductorService.getTexto('tituloVestimenta')">
    </p>
    <div class="container-dress-code">
      <P class="textosec">{{traductorService.getTexto("textoVestimentaUno")}}</P>
      <P class="textosec">
        {{traductorService.getTexto("textoVestimentaDos")}}
      </P>
    </div>
  </div>
</div>
