.contenedor-cerem-recep {
  position: relative;
  text-align: center;
  padding: 40px 0px;
}

.colum-cerm {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 525px;
  margin: 0px auto;
}

.colum-recep {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 525px;
  margin: 0px auto;
}

.textosec {
  font-family: "Cormorant", serif;
  font-style: italic;
  font-size: 20px;
  margin-right: 5%;
  margin-left: 5%;
}

.titulo-cerm-recep {
  font-family: elegant;
  font-size: 60px;
  color: #bda672;
  margin-top: 0% !important;
  margin-bottom: 0% !important;
}

.cerm-recep-button {
  background-color: #102e4a;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Cormorant", serif;
}

.img-icon {
  width: 50%;
}

.img-icon-recepcion {
  width: 30%;
}

.img-2 {
  display: none;
}

@media screen and (max-width: 500px) {
  .img-2 {
display: block;
        margin-left: 60%;
        position: absolute;
        width: 40%;
        margin-top: 18%;
  }
}

.img-1 {
  display: none;
}

@media screen and (max-width: 500px) {
  .img-1 {
    display: block;
    margin-left: 0%;
    position: absolute;
    width: 40%;
    margin-top: 175%;
  }
}