.contenedor-pases{
  position: relative;
  text-align: center;
}

.colum-pases{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 525px;
  margin: 0px auto;
}

.contenedor-texto{
  margin-top: 10px;
  margin-bottom: 10px
}

.textosec{
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  margin: 0%;
}

.titulo-pases{
  font-family: "Playfair Display", serif ;
  font-size: 30px;
  color: #cba161;
  margin-top: 0% !important;
  margin-bottom: 0% !important;
}
