<app-portada></app-portada>
<app-img-flores></app-img-flores>
<app-guar-fech></app-guar-fech>
<app-fech-img></app-fech-img>
<app-cerm-recep></app-cerm-recep><br><br>
<app-timeline></app-timeline><br>
<app-momentos></app-momentos><br><br><br>
<app-drees-code></app-drees-code><br><br>
<app-regalos></app-regalos><br><br>
<app-seg-img-flores></app-seg-img-flores>
<app-confirmacion-cuadrado></app-confirmacion-cuadrado><br>
<app-des-img></app-des-img>
<app-glasmmy></app-glasmmy>

<!--<app-confir-asisten></app-confir-asisten>

<app-kids></app-kids><br><br><br>
<app-carrusel></app-carrusel>
<app-drees-code></app-drees-code><br><br>
<app-carrusel></app-carrusel><br><br><br>
<app-confirmacion-cuadrado></app-confirmacion-cuadrado>
 <app-pases></app-pases><br><br><br>-->

<!--  -->

