<div class="contenedor-regalos">
  <div class="colum-regalos">
    <img  class="img-2" src="assets/flores (2).png" >
    <img src="assets/caja-de-regalo.png" class="img-icon2" >
    <p class="titulo-regalos" data-aos="zoom-in" [innerHTML]="traductorService.getTexto('tituloRegalo')">
    </p>
    <div class="container-regalos">
      
      <P class="textosec">
         Tu presencia es lo más importante para mí y el mejor regalo que puedo recibir, sin embargo si deseas tener un detalle te comparto esta opción: 
      </P>

      <br>
      <img src="assets/dinero (2).png" class="img-icon" alt="" >
      <P class="textosec">
         Lluvia de Sobres
      </P>

      <br>

      <img src="assets/tarjeta-de-regalo.png" class="img-icon" alt="" >
      <P class="textosec">
         Tarjetas de Regalo
      </P>

      <!-- <P class="textosec" [innerHTML]="traductorService.getTexto('subtituloRegalo')">
      </P> -->
    </div>
  </div>
</div>
