<div class="contenedor-fech-img">
  <div class="colum-fech-img"><br>
    <!--
      <div class="carousel-container">
        <div class="carousel">
          <img src="assets/IMG02.jpeg" alt="Imagen 1">
          <img src="assets/IMG05.jpeg" alt="Imagen 2">
        </div>
  
      </div>
    -->
    <img data-aos="zoom-in" class="img-pareja" src="assets/IMG05.jpeg" width="100%" >
    <br>
    <p class="textPas">
      "Todo lo puedo en Cristo que me fortalece" - <strong>Filipenses 4:13</strong>
    </p>
    <!--
      <br>
      <p class="textosec" >
        {{traductorService.getTexto("textFechaBoda")}}
      </p>
      <p class="fecha-boda" data-aos="zoom-in">
        {{traductorService.getTexto("fechaBoda")}}
      </p>
    -->
  </div>
</div>