@font-face {
  font-family: "Muli";
  src: url(/assets/fonts/muli/Muli-Regular.ttf) format("ttf");
}
.container-fluid{
  position: relative;
  text-align: center;
  max-width: auto;
  background-color: #102e4a;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;

}

.conten-inf{
  margin: 6% 8%;
}

.container-radio-button{
  display: grid;
  gap: 1rem; /* Espaciado general */
  margin: 3% 3%;
}

.container-asistentes{
  display: grid;
  gap: 1rem; /* Espaciado general */
  margin: 4.5% 7%;
}

.colum-asistentes{
  display: grid;
  grid-template-columns: 60% 10% 30%; /* Distribución de espacio */
  align-items: center; /* Centra verticalmente el contenido */
}
/*
.form-container{
  padding: 5% 5%;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  margin: 3% 0%;
}*/

.img-icon{
  width: 15%;
}

.titulo {
  color: #eeeeee;
  font-family: "Playfair Display", serif;
  font-size: 35px;
  font-weight: 400;
}

.container-checkbox {
  display: flex;
  align-items: flex-end; /* Alinea todo hacia la parte baja del contenedor */
  gap: 1rem; /* Espaciado entre elementos */
  margin: 3% 3%;
  margin-top: 4.5%;
}

.colum-checkbox{
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
  align-items: center;
  display: flex;
}
.label-content{
  display: inline-block; /* Asegura que el texto se comporte como un bloque */
  vertical-align: bottom;
}

.text-title{
  text-align: center;
  color: #fff;
  font-family: "nathalia";
  font-size: 50px;
  font-weight: 300;
  font-style: italic;
  margin: 0px;
}

.conten-inf{
  margin: 6% 9%;
}

.col-auto{
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 2%;
}

.text {
  text-align: center;
  color: #fff;
  font-family: "Cormorant", serif;
  font-size: 20px;
  font-weight: 300;
}

.confirmacion-terminada{
  text-align: center;
  color: #fff;
  font-family: "nathalia";
  font-size: 35px;
  font-weight: 300;
  margin-top: 0;
}

.label-text {
  font-size: 1rem; /* Ajusta el tamaño según sea necesario */
  text-align: left;
  color: #fff;
  text-align: center;
  align-items: center;
  background-color: transparent;
  font-family: "Cormorant", serif;
  font-size: 20px;
  border: none;
  position: relative;
}

/*.label-text::before {
  content: '✔'; 
  margin-right: 8px; 
  color: #fff; /
}*/


.elementor-widget:not(:last-child) {
  margin-bottom: 20px;
}

.elementor-widget-wrap > .elementor-element {
  width: 100%;
}

.elementor-widget-image {
  text-align: center;
}

.elementor-widget {
  position: relative;
}

@media (max-width: 768px){

  .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    //margin: 3% 7%;

  }

  .conten-inf{
    margin: 6% 6%;
  }

  .form-container{
    margin: 0% 0%;
  }

  .titulo {
    color: #fff;
    font-family: "Playfair Display", serif;
    font-size: 35px;
  }

  .text {
    text-align: center;
    color: #fff;
    font-family: "Cormorant", serif;
    font-size: 20px;
    font-weight: 300;
  }
  .text-center{
    color: #fff;
    margin-top: 0;
  }

  .label-text {
    color: #fff;
    font-family: "Cormorant", serif;
    font-size: 20px;
  }

  /*.form-container{
    padding: 2.5% 5%;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    margin: 4% 0%;
    min-height: 280px;
  }*/

  .container-checkbox {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    margin: 3% 3%;
    margin-top: 12%;
  }

  .container-asistentes{
    display: grid;
    gap: 1rem;
    margin: 3% 3%;
    margin-top: 9%;
  }

  div.container-label-radio-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  div.colum-inf {
    display: grid;
    grid-template-columns: 70% 10% 20%;
    align-items: center;
    gap: 3px;
  }

  .text-inf{
    text-align: left;
    color: #fff;
    font-family: "Cormorant", serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
  }
}

.contenedor-agregar-compañante{
  width: 100%;
}
.contenedor-inf{
  width: 100%;
  margin-bottom: 30px;
  margin-top: 10px;
}

.colum-nombre-asistente{
  display: grid;
  grid-template-columns: 58% 2% 40%;
  align-items: center;
  gap: 3px;
}

.colum-inf{
  display: grid;
  grid-template-columns: 50% 20% 30%; /* Distribución de espacio */
  align-items: center;
  gap: 3px;
}

.text-inf{
  text-align: left;
  color: #fff;
  font-family: "Cormorant", serif;
  font-size: 20px;
  font-weight: 300;
}

.num-inf{
  display: inline-block; /* Asegura que las propiedades de tamaño funcionen */
  width: 40px; /* Ancho del círculo */
  height: 40px; /* Altura del círculo, igual al ancho para hacerlo circular */
  line-height: 40px; /* Centra verticalmente el texto */
  text-align: center; /* Centra horizontalmente el texto */
  border: 2px solid white; /* Color y grosor del borde */
  border-radius: 30%;
  color: #fff;
  background-color: transparent; /* Fondo transparente */
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.form-label{
  /*width: 80%;*/
  text-align: left;
  color: #fff;
}

.nombre-acompanante{
  width: 80%;
  color: #fff !important;
}
.no-check {
  list-style-type: none; /* Elimina el ícono predeterminado */
  padding-left: 0;      /* Ajusta la alineación si es necesario */
}


input::placeholder {/* Cambia color el texto de ejemplo dentro del input*/
  color: white;
  font-family: "Quicksand", sans-serif;
}

.container-mas-menos{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.container-buttons-mas-menos{
  display: flex;
  flex-direction: row; /* Cambia de columna a fila */
  justify-content: space-between; /* Asegura espacio entre los botones */
  align-items: center;
  gap: 10px; /* Espacio entre los botones */
}

.btn-mas-invitados,
.btn-menos-invitados {
  width: 50px; /* Ajusta automáticamente el tamaño del botón */
  height: 40px;
  padding: 0 10px; /* Añade relleno horizontal */
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 12px; /* Cambia el borde para que sea más redondeado */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transition: background-color 0.3s, color 0.3s;
}

.btn-menos-invitados:hover{
  background-color: rgba(255, 0, 0, 0.2);
}

.btn-mas-invitados:hover{
  background-color: rgba(0, 255, 0, 0.2);
}

.input-box {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #fff;
  border-style: solid;
  border-color: rgba(167, 133, 86, 0.38);
  padding: 15px 15px 15px 15px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  transition-duration: 0.3s;

  text-align: center;
}

.input-box2 {
  font-family: "Muli", Sans-serif;
  margin-top: 5%;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  border: none; /* Elimina el borde completo */
  border-bottom: 2px solid rgba(255, 255, 255, 0.38); /* Solo línea inferior */
  padding: 10px 0; /* Ajuste de padding para que quede más sutil */
  background-color: transparent;
  border-radius: 0; /* Elimina el radio de los bordes para que solo haya una línea */
  transition-duration: 0.3s;
}



.input-box2:focus {
  border-bottom: 2px solid #fff; /* Cambio de color de la línea al hacer foco */
  outline: none; /* Elimina el contorno del campo al enfocarse */
}

.input-box:valid {
  border: 2px solid white;
}

.error-alert-text {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  font-weight: 300;
  color: #f31818;
  background-color: transparent;
}

.btn-inv-danger {
  border-color: #ff9999;
}

.btn-inv-success {
  border-color: #779960;
}
.btn-inv-danger:hover {
  background-color: #ff9999;
}

.btn-inv-success:hover {
  background-color: #779960;
}
.btn-submit {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 4px;
  background-color: #969c6e;
  color: #ffffff;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #969c6e;
  border-radius: 0px 0px 0px 0px;
  padding: 20px 70px 20px 70px;
}

// icono de flecha
/*.icon-flecha{
  flex: 0 0 30%;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  cursor: pointer;
  transition: 300ms;
  border-radius: 10px;
  justify-content: flex-start;
}*/

/*.container-flecha {
  --color: #fff;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
  justify-content: right;
  gap: 0.5rem;
}*/

/*input[type="checkbox"] {
  margin: 0;
  height: 1rem;
  width: 1rem;
}*/

/*.container-flecha .chevron-down {
  animation: keyframes-return .5s;
}*/

/* ------ On check event ------ */
/*.container-flecha input:checked ~ .chevron-down {
  animation: keyframes-rotate .5s;
  transform: rotate(180deg);
}*/

/* ------ Hide the default checkbox ------ */
/*.container-flecha input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}*/

/* ------ Animation ------ */
@keyframes keyframes-rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes keyframes-return {
  0% {
    transform: rotate(-180deg);
    opacity: 0;
  }

  100% {
    transform: rotate(0deg);
  }
}

/* boton de confirmacion */
.button-confirmacion-container{
  margin: 6% 2%;
}

.button-confirm{
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  transition: all 1000ms;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #fff;
  font-family: "Quicksand", sans-serif;
}

.button-confirm:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #cba161;
  box-shadow: 4px 5px 17px -4px #cba161;
}

.button-confirm::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #cba161;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button-confirm:hover::before {
  width: 250%;
}


// radio input
.container-radio-button {
  width: 100%;
  max-width: 100%; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.titulo-radio-button-container {
  width: 100%; /* Ocupa todo el ancho disponible */
  text-align: center; /* Centra el texto del título */
}

.container-label-radio-button {
  display: flex;
  justify-content: space-between; /* Espacio igual entre las opciones */
  gap: 0.5rem; /* Espacio entre las opciones */
  width: 60%; /* Asegura que ocupa todo el ancho del contenedor */
}

.radio-inputs {
  position: relative;
  border-radius: 1px #fff;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: transparent; /* Color de fondo */
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
  padding: 0.5rem;
  padding-bottom: 0%;
  gap: 1rem;
}

.titulo-radio-button{
  font-size: 50px;
  margin-bottom: 1rem;
  font-family: "nathalia";
  color: #fff;
}

.radio {
  flex: 1; /* Cada opción ocupa el 50% del ancho disponible */
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.radio input[type="radio"] {
  display: none; /* Ocultamos los inputs */
}

.radio .name {
  display: block;
  font-weight: 500;
  background-color: #f8f8f8; /* Fondo inicial de las opciones */
  color: #808b97;
  font-size: 15px;
  font-family: "Quicksand", Sans-serif;
  padding: 0.6rem;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.radio input[type="radio"]:checked + .name {
  background-color: #ffffff; /* Fondo de la opción seleccionada */
  font-weight: bold;
  color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.radio:hover .name {
  background-color: #d4f1d6; /* Efecto hover */
}

.input-limite{
  display: none;
}

.isFechaPasada{
  margin: 12% 2px;
}

// ----------- estilos de boostrap -------------

.modal-content {
  border-radius: 8px;
}

.modal-header {
  background-color: #f8f9fa;
}

.modal-footer .btn-primary {
  background-color: #007bff;
}



